

.article .card-header {
  border-bottom: 0px !important;
}

.article .card-body {
  white-space: pre-line !important;
}
.article .card-body a {
  text-decoration: underline;
  text-decoration-color:  silver;
}
.article .card-body h1 {
  margin-top: 10px !important;
  font-size: 1.5rem;
}
.article .card-body h2 {
  margin-top: 10px !important;
  font-size: 1.3rem;
}
.article .card-body h3 {
  margin-top: 20px !important;
  padding-bottom: 5px !important;
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: 1px solid silver;
}
.article .card-body code {
  white-space: pre !important;
  overflow: auto;
}

.article .card-body ul li,
.article .card-body ol li {
  white-space: normal;
}

.article .card-body pre {
  padding: 5px;
  margin-left: 15px;
  background: #eeeeee;
  border: 1px solid #cccccc !important;
  font:normal normal 12px/14px "Fira Code", "Courier New",Courier,Monospace !important;
}
.article .card-body pre:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.article .card-body code {
  padding-left: 5px !important;
}
.article .card-body pre code,
.article .card-body pre pre {
  all:unset;
  margin: 0px;
  padding: 0px;
}
.article .card-body pre code,
.article .card-body pre .line-number {
  /* Ukuran line-height antara teks di dalam tag <code> dan <span class="line-number"> harus sama! */
  font:normal normal 12px/14px "Fira Code", "Courier New",Courier,Monospace !important;
  color:black;
  display:block;
}
.article .card-body pre .line-number {
  float:left;
  margin:0 0.1em 0 -1em;
  border-right:1px solid;
  text-align:right;
}
.article .card-body pre .line-number span {
  display:block;
  padding:0 .5em 0 1em;
}
.article .card-body pre .cl {
  display:block;
  clear:both;
}

.article-new .card-footer button {
  margin-right: 10px;
}

.article-new .textarea-container {
  margin: 5px;
  padding: 5px !important;
  border: 1px solid silver !important;
  border-radius: 3px;
}


.CodeMirror-fullscreen {
  left: 80px !important;
}
.hometext-container .CodeMirror, .CodeMirror-scroll {
	min-height: 100px !important;
}
