<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>[title]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex,nofollow" />
  <link rel="stylesheet" href="[themefullpath]/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" integrity="sha384-4r9SMzlCiUSd92w9v1wROFY7DlBc5sDYaEBhcCJR7Pm2nuzIIGKVRtYWlf6w+GG4" crossorigin="anonymous">
  <link rel="stylesheet" href="[themefullpath]/plugins/adminlte/css/adminlte.min.css">
  
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" >
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu" />
  <link rel="stylesheet" href="[$themefullpath]/styles/style.css?_=77">
  <script src="[themefullpath]/plugins/jquery/jquery.min.js"></script>
  <script>
    let BaseURL = "[baseurl]";
    let ImageURL = "https://img.pascal-id.org/"
  </script>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Forum Pascal Indonesia" />
  <meta property="og:image" content="https://pascal-id.org/logo-pi.png" />
  <meta property="og:site_name" content="Pascal Indonesia Community" />
  <meta property="og:url" content="https://pascal-id.org/" />
</head>
<body class="hold-transition sidebar-mini sidebar-collapse layout-navbar-fixed">
<div class="wrapper">

  [include file=includes/header.html]
  [include file=includes/sidebar.html]

  <div class="content-wrapper home">
      [maincontent]
  </div>

  [include file=includes/footer.html]
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  
</div>
<div class="small hide">
  <!-- START OF ADDME LINK -->
  <a href="http://www.addme.com/submission/free-submission-start.php">Local Business Directory, Search Engine Submission & SEO Tools</a> 
  <!-- END OF ADDME LINK -->
  <a href="https://www.freewebsubmission.com"><b>FreeWebSubmission.com</b></a> 
  <a href="http://www.sonicrun.com"><b>SonicRun.com</b></a> 
</div>  
<button onclick="GoTop()" id="btnGoTop" title="Go to top">Top</button> 
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-151967332-1"></script>
<script>
</script>
<script src="[themefullpath]/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="[themefullpath]/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="[themefullpath]/plugins/adminlte/js/adminlte.min.js"></script>
<script src="[themefullpath]/plugins/moment/moment.min.js"></script>
<script src="[themefullpath]/js/facebook.js?_=67"></script>
<!-- Pascal Indonesia purposes -->
<script src="[themefullpath]/js/app.js?_=75"></script>
<script src="[themefullpath]/js/analytics.js?_=74"></script>
</body>
</html>