<footer class="main-footer">
  <div class="float-right d-none d-sm-block small">
      Theme: <a href="https://adminlte.io/?ref=https://pascal-id.org/" target="_blank">AdminLTE.io</a>
  </div>
  <div class="float-right d-none d-sm-block">&nbsp;</div>
  <div class="float-right d-none d-sm-block small">
      Build with <a href="https://fastplaz.com/" target="_blank">FastPlaz</a>
  </div>
  <strong><a href="https://www.pascal-id.org">Pascal Indonesia Commnunity</a>.</strong> <span class="small">[loadtime]</span>
</footer>
<script type="text/javascript">
  //              DO NOT IMPLEMENT                //
  //       this code through the following        //
  //                                              //
  //   Floodlight Pixel Manager                   //
  //   DCM Pixel Manager                          //
  //   Any system that places code in an iframe   //
  /*
    (function () {
        var s = document.createElement('script');
        s.type = 'text/javascript';
        s.async = true;
        s.src = ('https:' == document.location.protocol ? 'https://s' : 'http://i')
          + '.po.st/static/v4/post-widget.js#publisherKey=2cdbmaatalj7f3bl5jce';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
     })();
  */
</script>