<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="/" class="brand-link elevation-4">
    <img src="[themefullpath]/images/logo-panther.png"
          alt="Pascal Indonesia Logo"
          class="brand-image img-circle elevation-3"
          style="opacity: .8">
    <span class="brand-text font-weight-light">Pascal Indonesia</span>
  </a>

  <div class="sidebar">
    
      <!-- Sidebar Menu -->
      <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
  
            <!--
            <li class="nav-item has-treeview">
              <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                  Dashboard
                  <i class="right fas fa-angle-left"></i>
                  <span class="badge badge-info right">0</span>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>User Profile</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Forum Setting</p>
                  </a>
                </li>
              </ul>
            </li>
            -->

            [if __is_logged_in__ eq 0]
            <li class="nav-item has-treeview menu-close">
              <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                  Dashboard
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/profile/[__username__]" class="nav-link">
                    <i class="fas fa-book nav-icon"></i>
                    <p>Profile</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/news/new/" class="nav-link">
                    <i class="fas fa-book nav-icon"></i>
                    <p>Submit New Article</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="#" class="btn-logout nav-link">
                    <i class="fas fa-sign-out-alt nav-icon"></i>
                    <p>Logout</p>
                  </a>
                </li>

              </ul>


            </li>
            [/if]
  
            <li class="nav-item has-treeview menu-open">
              <a href="#" class="nav-link active">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                  What we have
                  <i class="fas fa-angle-left right"></i>
                </p>
              </a>
              <ul class="nav nav-treeview">
                <li class="nav-item">
                  <a href="/forum/" class="nav-link">
                    <i class="fas fa-book nav-icon"></i>
                    <p>Forum</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/news/" class="nav-link">
                    <i class="fas fa-file nav-icon"></i>
                    <p>Article</p>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/search/" class="nav-link">
                    <i class="fas fa-search nav-icon"></i>
                    <p>Search</p>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
        <!-- /.sidebar-menu -->
  


  </div>

</aside>